/* css reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utility */

.debug {
  border: 1px solid red;
  background-color: rgba(122, 170, 154, 0.792);
}

/* general */

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

/* header top */

header {
  background-color: #3161E0;
  height: 625px;
  padding-top: 20px;
  color: white;
}

header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

header .top .menu ul {
  display: flex;
}

header .top .menu ul li {
  padding: 0 20px;
  list-style: none;
}

header .top .menu ul li a {
  text-decoration: none;
  color: white;
}

header .top .menu ul li a:hover {
  text-decoration: underline;
}

header .top .login button {
  border: none;
  width: 60px;
  height: 50px;
  color: black;
}


/* header bottom */

header .bottom {
  width: 50%;
  margin: 100px auto;
  text-align: center;
}

header .bottom .info h1 {
  font-size: 2.6rem;
  font-weight: bolder;
  padding-bottom: 20px;
}

header .bottom .info p {
  padding-bottom: 20px;
}


header .bottom .info button {
  border: none;
  width: 120px;
  height: 50px;
  color: black;
}


/* main */


/* altezza da togliere */
main section {
  height: 800px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 155px;
}

main figure {
  width: 620px;
  height: 420px;
  background-color: #282841;
  color: white;
}

main article {
  width: 370px;
  height: 508;
}

main article h3 {
  font-size: 2.4rem;
}

/* jumbotron */

main .jumbotron {
  height: 1400px;
  background-color: #34BEB5;
  padding-top: 180px;
  text-align: center;
}

main .jumbotron h2 {
  font-size: 2.6rem;
  padding-bottom: 50px;
}


main .jumbotron p {
padding-bottom: 50px;
} 


main .jumbotron .image-jumbo {
  width: 1100px;
  height: 620px;
  background-color: #282841;
  margin: 0 auto;
}

main .jumbotron h4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

main .jumbotron button {
border: none;
width: 120px;
height: 50px;
color: black;
}


/* footer */

footer {
  height: 650px;
  background-color: #62676be6;
  color: white;
}


footer .top {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}

footer nav ul {
  list-style: none;
}

footer nav ul li a {
  text-decoration: none;
}

footer nav ul li a:hover {
  text-decoration: underline;
}


footer .boxes {
  display: flex;
  justify-content: space-around;
  width: 840px;
}

footer .box {
  height: 300px;
  background-color: aliceblue;
  color: black;
}

footer .bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

footer button {
  border: none;
  width: 120px;
  height: 50px;
  color: black;
}